{% import "macros.j2" as macros with context %}
source s_src {
       system();
       internal();
};

{% include "filters.j2" %}
{# Some default destinations #}
{% for f in ['auth', 'cron', 'daemon', 'kern', 'lpr', 'mail', 'syslog', 'user', 'uucp'] %}
destination d_{{f}} { file("{{syslog_ng_local_dest_dir}}/{{f}}.log"); };
{% endfor %}

{# Destination generation #}
{{ macros.generate_destinations(syslog_ng_client_destinations) }}

{# Generate logpaths #}
{% for hostname, options in syslog_ng_client_destinations.iteritems() %}
log {
  source(s_src);
  destination({{ macros.generate_statement_name(hostname, "d", options.proto) }});
};

{% endfor %}

