{% import "macros.j2" as macros with context %}
@version: {{ syslog_ng_config_version }}

{{ macros.add_includes(syslog_ng_config_includes) }}

# Syslog-ng configuration file, compatible with default Debian syslogd
# installation.

# First, set some global options.
options {
{% for k, v in  syslog_ng_config_options.iteritems() %}
    {{ k }}({{ v  }});
{% endfor %}
};

