{% import "macros.j2" as macros with context %}
{% include "filters.j2" %}

{% block mode_header %}
destination d_local {
  file("{{syslog_ng_server_dest_dir}}/{{syslog_ng_server_file_macro}}");  
};
{% endblock %}

{% block statement_generation %}
{# Destination generation #}
{{ macros.generate_sources(syslog_ng_server_sources) }}
{% endblock %}



